JWT_SECRET_KEY=
JWT_REFRESH_DAYS=7
JWT_ISSUER=eShopX
JWT_AUDIENCE=eShopX-Users
JWT_ACCESS_MINUTES=60

MAIL_USE_STARTTLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=
MAIL_SMTP_PORT=587
MAIL_SMTP_HOST=smtp.gmail.com
MAIL_PASSWORD=
MAIL_FROM_NAME=eShopX
MAIL_FROM_EMAIL=

PAYPAL_PUBLIC_BASE_URL=
PAYPAL_FRONTEND_BASE_URL=
PAYPAL_CLIENT_SECRET=
PAYPAL_CLIENT_ID=
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com

LINEPAY_PUBLIC_BASE_URL=
LINEPAY_FRONTEND_BASE_URL=
LINEPAY_CHANNEL_SECRET=
LINEPAY_CHANNEL_ID=
LINEPAY_BASE_URL=https://sandbox-api-pay.line.me

LINEAUTH_REDIRECT_URI=
LINEAUTH_CHANNEL_SECRET=
LINEAUTH_CHANNEL_ID=

GOOGLE_REDIRECT_URL=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
